.employee-info-container {
    width: 600px;
    background-color: #dddddd;
}
.header {
    padding: 10px 10px 0 10px;
}

.employee-info {
    padding: 10px;
}
.employee-info div {
    height: 30px;
}
.employee-info div:nth-child(even) {
    background-color: #f9f4cf;
}
.employee-info div:nth-child(odd) {
    background-color: #ffffff;
}
.button-group {
    height: 55px;
    padding: 10px;
}
