input {
    border: 1px solid;
    border-radius: 5px;
}

select {
    height: 30px;
    width: 15%;
    border: 1px solid;
    border-radius: 5px;
}

.employee-container {
    padding: 10px;
    background-color: #e3e3e3e3;
}
.employee-record:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.search {
    height: 30px;
}

.employee-record th {
    padding: 5px;
}


.remove-btn {
    font-weight: bold;
    padding: 2px 10px;
}